::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
}

html[data-theme='dark']::view-transition-new(root) { z-index: 9999; }
html[data-theme='dark']::view-transition-old(root) { z-index: 1; }

html[data-theme='light']::view-transition-new(root) { z-index: 1; }
html[data-theme='light']::view-transition-old(root) { z-index: 9999; }

.ant-switch {
    view-transition-name: theme-switch;
}

::view-transition-group(theme-switch) {
    z-index: 10000;
}

.ant-table {
    contain: paint;
}